{% extends 'base.html.twig' %}

{% block title %}Formulaire de connaissances | Club Micro Saint Pierre{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		window.onload = function(){
			// function d'envoie des données
			function onClickSubmit(event){
				event.preventDefault();
				const firstName = document.getElementById('formposte_firstName').value;
				const lastName = document.getElementById('formposte_lastName').value;
				const phone = document.getElementById('formposte_phone').value;
				const email = document.getElementById('formposte_email').value;
				console.log(firstName, lastName, phone, email);
			}

			// évènement sur le clic d'nevoie formulaire
			document.querySelectorAll('a.js-submit').forEach(function(link){
				link.addEventListener('click', onClickSubmit)
			})
		}
	</script>
{% endblock %}

{% block content %}
	<section class="container">

		<div class="row mb-3">
			<div class="col-12">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item active">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								<b>ENQUETE 1/3 : </b>&nbsp;Qui êtes-vous ?
							</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							{{ include('admin/formposte/_form.html.twig') }}
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
								<b>ENQUETE 2/3 : </b>&nbsp;Evaluons vos connaissances ?
							</button>
						</h2>
						<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								{{render(controller('App\\Controller\\Admin\\QuestionController::index_public'))}}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
								<b>ENQUETE 3/3 : </b>&nbsp;Souhaitez-vous bénéficier d'un accompagnement ?
							</button>
						</h2>
						<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">{{render(controller('App\\Controller\\Admin\\BesoinController::index_public'))}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<a class="btn btn-sm btn-outline-primary js-submit">{{ button_label|default("Valider les informations") }}</a>
			</div>
		</div>


	</section>
{% endblock %}
